<ul class="nav nav-pills pull-right">
  <% if current_user %>
    <li class="<%= 'active' if current_page?(my_podcast_path) %>"><%= link_to "Home", my_podcast_path %></li>
  <% else %>
    <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
  <% end %>
  <li class="<%= 'active' if current_page?(help_path) %>"><%= link_to "Help", help_path %></li>
  <% if current_user %>
    <%= render "shared/episodes" %>
    <li class="<%= 'active' if current_page?(edit_user_path(current_user)) %>"><%= link_to "Account", edit_user_path(current_user) %></li>
    <% unless current_user.subscribed %>
      <li class="<%= 'active' if current_page?(new_subscription_path) %>"><%= link_to "Upgrade", new_subscription_path %></li>
    <% end %>
    <li><%= link_to "Signout", signout_path %></li>
  <% end %>
</ul>

<h3 class="muted">
  Filter <%= podcast_plan if current_user %></h4>
</h3>

<% unless current_page?(my_podcast_path) || current_page?(help_path) || current_page?(edit_user_path(current_user)) || current_page?(new_subscription_path) %>
  <br />
  <div>
    <ol class='breadcrumb'>
      <% if current_page?(my_podcast_path) %>
        <li class="active"><a href='#'>My Podcast</a></li>
      <% elsif current_page?(episodes_path) %>
        <li><%= link_to "My Podcast", my_podcast_path %></li>
        <li class="active">Episodes</li>
      <% elsif current_page?(edit_podcast_path(@podcast)) %>
        <li><%= link_to "My Podcast", my_podcast_path %></li>
        <li class="active">Edit</li>
      <% elsif current_page?(episode_path(@episode)) %>
        <li><%= link_to "My Podcast", my_podcast_path %></li>
        <li class="active"><%= @episode.name %></li>
      <% elsif current_page?(edit_episode_path(@episode)) %>
        <li><%= link_to "My Podcast", my_podcast_path %></li>
        <li><%= link_to @episode.name, episode_path(@episode) %></li>
        <li class="active">Edit</li>
      <% end %>
    </ol>
  </div>
<% end %>
