<% if @episodes.empty? %>
  <h3>Your podcast has no current episodes.</h3>
<% else %>
  <h2>Episodes:</h2>

  <div class="well">
    <% @episodes.each do |episode| %>
      <h4><%= link_to episode.name, episode_path(episode) %></h4>
      <p><%# episode.description %></p>
      <p><%= image_tag episode.cover %></p>
      <% if episode.needs_download %>
        <p>We are currently downloading this episode from Soundcloud.</p>
      <% end %>
      <div class="btn-group">
        <%= link_to "Edit this episode", edit_episode_path(episode), class: "btn btn-success" %>
        <%= link_to "Download link", episode.link, class: "btn btn-primary" unless episode.needs_download %>
        <%= link_to "Remove from podcast", episode_path(episode), confirm: "Are you sure?", method: :delete, class: "btn btn-danger"  %>
      </div>
    <% end %>
  </div>
<% end %>

