<h2>Episodes for <%= @podcast.name %>:</h2>

<% if @episodes.empty? %>
  <h3 class="alert alert-error">Your podcast has no current episodes.</h3>
<% else %>
  <% @episodes.each do |episode| %>
    <h4><%= link_to episode.name, edit_episode_path(episode) %></h4>
    <p><%# episode.description %></p>
    <p><%= image_tag episode.cover %></p>
    <p><%= link_to "Download link", episode.link %></p>
    <p><%= link_to "Remove from podcast", episode_path(episode), confirm: "Are you sure?", method: :delete %></p>
  <% end %>
<% end %>

<hr>

<%= render 'soundcloud_episodes' %>
