<p class="lead">Need help using Filter? Take a look at some common questions below – if they don't answer your questions, feel free to contact us <%= link_to "by email", "mailto:kristian@usefilter.com" %>.</p>

<h4>Common Questions</h4>
<ol>
  <li><a href="#notracks">My tracks on Soundcloud aren't showing up on Filter!</a></li>
  <li><a href="#myfiles">Where are my files hosted? Can I access them?</a></li>
  <li><a href="#itunes">I've made my podcast on Filter, now what?</a></li>
  <li><a href="#billing">Something isn't right with my billing</a></li>
  <li><a href="#terms">Terms and Other Legal Things</a></li>
</ol>

<h4><a id="notracks">My tracks on Soundcloud aren't showing up on Filter!</a></h4>
<p>Your track may have been uploaded in a different format then MP3. Because iTunes can only process MP3s, Filter doesn't show these tracks. Filter also <em>filters</em> (ha ha) your Soundcloud tracks before allowing you to add them – only tracks that are accessable by our servers appear. This means that your tracks must be <em>public and downloadble on Soundcloud</em>. If that doesn't fix it, feel free to get in contact with us with the name of the track and difficulties you are having.</p>

<h4><a id="myfiles">Where are my files hosted? Can I access them?</a></h4>
<p>Filter downloads tracks from Soundcloud and hosts them using Amazon's Simple Storage Service (S3). Currently, you can access these files via the same URL that iTunes accesses – if your episode has finished downloading from Soundcloud, you can find this by visiting the episode's page on Filter.</p>

<h4><a id="itunes">I've made my podcast on Filter, now what?</a></h4>
<p>Congratulations! You're almost ready to go. If you haven't pressed the "Publish" button on your podcast's page, do that now. Our servers will do some crunching and you should receive an email with a link to an XML file – this is what you need to submit your podcast to iTunes. Follow the directions on <%= link_to "iTunes Support", "http://www.apple.com/itunes/podcasts/specs.html#submitting" %> for assistance on how to submit to iTunes.</p>

<h4><a id="billing">Something isn't right with my billing</a></h4>
<p>Have billing questions? Feel free to contact us <%= link_to "by email", "mailto:kristian@usefilter.com" %>.</p>

<h4><a id="terms">Terms and Other Legal Things</a></h4>
<p>Filter is wholly owned by <%= link_to "Kristian Freeman", "https://kristianfreeman.com" %>. Your podcast, however, is your own. Your files are yours, and we make no claim to own any of it; we're just helping make it easier for people to listen to your content. We will never sell your information or your content to any third-party sources, and any information that you give us on this site is only used for intended purposes – being sent to iTunes (and wherever else you would like to distribute your XML file), and being available on this site. If you have any problems with the way we are doing things, feel free to contact us <%= link_to "by email", "mailto:kristian@usefilter.com" %>.</p>
<hr>

<h4>And now on to some miscellaneous things:</h4>

<p>Microphone favicon and logo from Diego Naive, at The Noun Project.</p>
<p>Filter is hosted by the wonderful people at Digital Ocean. If you would like to use their wonderful service and help us with server hosting at the same time, use <%= link_to "this referral link", "https://www.digitalocean.com/?refcode=6b52c76d9ac5" %>.</p>
<p>Filter would be impossible without OSS. Thank you to the Ruby on Rails and Redis teams especially.</p>
<p>Finally, thank you to the help of friends and family – for constructive opinions, voiceover work, and allowing me to get this damn thing out the door.</p>
