<h3>Subscribe to Filter to get:</h3>

<h4>- Unlimited episodes for your podcast</h4>
<h4>- Auto-updating upon new Soundcloud uploads</h4>

<h2>Subscribe and try Filter for a week, free of charge.</h2>

<% if current_user.stripe_token %>
  <%= button_to "Reactivate Filter Subscription", reactivate_subscription_path, class: 'btn btn-primary' %>
  <br />
  <p>Our records show that you have previously had a Filter account.</p>
  <p>Using the above form will resubscribe with your previous account information.
  If you would like to change your credit card information, please
  <%= link_to "contact us", page_path('help') %>.
<% else %>
  <%= form_tag subscriptions_path do %>
    <div class="form-group">
      <label>$8.00 a month.</label>
    </div>
    <div class="form-group">
      <a id='enable_coupon' href="#">Have a coupon?</a>
    </div>
    <div class="form-group hidden" id="coupon_field">
      <div class="input-group">
        <span class="input-group-addon">Coupon</span>
        <%= text_field_tag 'coupon', nil, class: 'form-control', disabled: true %>
      </div>
    </div>
    <div class="form-group">
      <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
              data-key="<%= ENV["STRIPE_KEY"] %>"
              data-description="Unlimited plan to Filter"
              data-amount="800"></script>
    </div>
  <% end %>
<% end %>
