<h1>Welcome to Filter!</h1>
<h3><%= podcast_plan %></h3>

<h2><%= @podcast.name %></h1>
<%= image_tag @podcast.cover.url(:medium) %>

<div>
  <%= link_to "Edit podcast", edit_podcast_path(@podcast), class: "btn btn-primary" %>
</div>

<hr>

<h2>Episodes:</h2>

<div class="episodes">
  <% if @episodes.empty? %>
    <h2>You have no episodes currently added to your podcast.</h2>
    <h2><%= link_to "Add episodes", episodes_path %></h2>
  <% elsif %>
    <% @episodes.each do |episode| %>
      <h3><%= episode.name %></h3>
    <% end %>
  <% end %>
</div>

<%= link_to "Add episodes", episodes_path, class: "btn btn-primary" %>
