<% unless cookies[:not_new] %>
  <h1>Welcome to Filter!</h1>
<% end %>

<h2><%= @podcast.name %></h1>

<% if @podcast.cover_file_name %>
  <%= image_tag @podcast.cover.url(:medium) %><br /><br />
  <% else %>
    <h3>You're missing a cover for your podcast! Try
      <%= link_to "editing your podcast", edit_podcast_path(@podcast) %>!</h3>
  <% end %>
<div class="btn-group">
  <%= link_to "Edit podcast", edit_podcast_path(@podcast), class: "btn btn-primary" %>
  <%= link_to "Publish podcast", publish_podcast_path, class: "btn btn-primary" %>
</div>

<% if @podcast.itunes_feed %>
  <h4>Your podcast URL: </h4>
  <h4><pre><%= @podcast.itunes_feed %></pre></h4>
<% end %>

<hr>

<%= render 'episodes/episodes' %>
