<h1>Welcome to Filter!</h1>
<h4><%= podcast_plan %></h4>

<h2><%= @podcast.name %></h1>

<div>
  <% if @podcast.cover_file_name %>
    <%= image_tag @podcast.cover.url(:medium) %>
    <%= link_to "Edit podcast", edit_podcast_path(@podcast), class: "btn btn-primary" %>
  <% else %>
    <h3>You're missing a cover for your podcast! Try
      <%= link_to "editing your podcast", edit_podcast_path(@podcast) %>!</h3>
  <% end %>
</div>

<hr>

<h2>Episodes:</h2>

<div class="episodes">
  <% if @episodes.empty? %>
    <h3>You have no episodes currently added to your podcast.</h3>
  <% elsif %>
    <% @episodes.each do |episode| %>
      <h3><%= link_to episode.name, episode %></h3>
    <% end %>
  <% end %>
</div>

<%= link_to "Add episodes", episodes_path, class: "btn btn-primary" %>
