<% unless cookies[:not_new] %>
  <h1>Welcome to Filter!</h1>
<% end %>

<h2><%= @podcast.name %></h1>

<div>
  <% if @podcast.cover_file_name %>
    <%= image_tag @podcast.cover.url(:medium) %><br /><br />
    <p>
      <%= link_to "Edit podcast", edit_podcast_path(@podcast), class: "btn btn-primary" %>
    </p>
  <% else %>
    <h3>You're missing a cover for your podcast! Try
      <%= link_to "editing your podcast", edit_podcast_path(@podcast) %>!</h3>
  <% end %>
</div>

<h4>Your podcast URL: </h4>
<h4><pre><%= @podcast.itunes_feed %></pre></h4>

<hr>

<h2>Episodes:</h2>

<div class="episodes">
  <% if @episodes.empty? %>
    <h3>You have no episodes currently added to your podcast.</h3>
  <% elsif %>
    <% @episodes.each do |episode| %>
      <h3><%= link_to episode.name, episode %></h3>
    <% end %>
  <% end %>
</div>

<%= link_to "Add episodes", episodes_path, class: "btn btn-primary" %>
