<!DOCTYPE html>
<html>
  <head>
    <title>Filter <%= podcast_plan if current_user %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
  </head>
  <body>
    <div class="container-narrow">
      <div class="masthead">
        <%= render partial: "shared/menu" %>
      </div>

      <hr>
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= yield %>
      <hr>
    </div>
  </body>
</html>
